---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi :)</h1>
			<p>
				Welcome to my website! I'm taking a break from blogging. You can
				find my old posts using the links above.
			</p>
			<p>
				<strong>Where I am now:</strong> Taiwan <br />
				<strong>Last updated:</strong> August 2024 <br />
			</p>
			<div>
				<iframe
					src="https://lstrobel.travelmap.net"
					loading="lazy"
					width="100%"
					height="550"
					style="border: none; border-radius: 5px;"
					allowfullscreen></iframe>
			</div>
			<p>
				Check out the <a href="/blog/">blog</a> for more details! I also
				post more photos on Instagram at <a
					href="https://www.instagram.com/pixel.pond/">pixel.pond</a
				>
			</p>
		</main>
		<Footer />
	</body>
</html>
